:root {
  font-family: 'Roboto', sans-serif;
}

.mainContent {
  margin: 15px
}

paper-drawer-panel {
  --paper-drawer-panel-main-container: {
    background-color: gray;
  };
  --paper-drawer-panel-left-drawer-container: {
    background-color: red;
  };
}

paper-menu {
  --paper-menu-focused-item: {
    background-color: red;
  };
}

paper-toolbar {
  --paper-toolbar-background: red;
}
